#scene-container {
    /* tell our scene container to take up the full page */
    position: absolute;
    width: 100%;
    height: 100%;
  
    /*
      Set the container's background color to the same as the scene's
      background to prevent flashing on load
    */
    /*background: -webkit-linear-gradient(#00111e 30%, #033d5e);
    background: -moz-linear-gradient(#00111e 30%, #033d5e);
    background: -o-linear-gradient(#00111e 30%, #033d5e);
    background: linear-gradient(#00111e 30%, #033d5e);*/
    background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(4,18,24,1) 50%, rgba(75,61,78,1) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(4,18,24,1) 50%, rgba(75,61,78,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(4,18,24,1) 50%, rgba(75,61,78,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(4,18,24,1) 50%, rgba(75,61,78,1) 100%);/* overflow: hidden;*/
   
  }

  #sky {
    
    }

  canvas {
    width: 500px;
    height: 500px;
  }